<template>
  <transition name="custom-modal">
    <div
      v-if="$modal.isVisible"
      class="custom-modal"
      @click.self="$modal.hide()"
    >
      <div class="custom-modal-dialog">
        <div class="custom-modal-content bg-secondary border border-primary">
          <div class="custom-modal-header">
            <h5 class="custom-modal-title"></h5>
            <button
              type="button"
              class="custom-modal-close"
              @click="$modal.hide()"
            >
              &times;
            </button>
          </div>
          <div class="p-3">
            <component :is="$modal.content" />
          </div>
          <div class="custom-modal-footer">
            <button
              type="button"
              class="btn btn-secondary ms-auto"
              @click="$modal.hide()"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: "MyModal",

  destroyed() {
    this.$modal.destroy();
  },
};
</script>
