<template>
  <div
    class="border border-primary border-start-0 border-top-0 border-end-0 mb-3 pb-3"
  >
    <SettingsView />
    <div class="py-0 text-danger">
      {{ runningServerMessage }}
    </div>
    <div class="d-flex flex-column cursor" @click="getRunningSystemMessage">
      <div>
        Total Memory:
        <span class="badge text-white">
          {{ runningSystemMessage.totalMemory }}
        </span>
      </div>

      <div>
        Free Memory:
        <span class="badge text-white">
          {{ runningSystemMessage.freeMemory }}
        </span>
      </div>
    </div>
  </div>
</template>

<script>
// store
import { mapState, mapActions } from "vuex";

import SettingsView from "../settings/SettingsView.vue";

export default {
  name: "HeaderView",
  emits: ["toggle"],

  components: {
    SettingsView,
  },

  data() {
    return {
      value: 1,
    };
  },

  computed: {
    ...mapState("info", [
      "modelInfo",
      "localModels",
      "runningServerMessage",
      "runningSystemMessage",
    ]),
  },

  methods: {
    ...mapActions("info", [
      "getModelInfo",
      "getLocalModels",
      "getRunningServerMessage",
      "getRunningSystemMessage",
    ]),

    getModelInfoHandler(model) {
      let name = model.split(":")[0];
      this.getModelInfo(name);
    },
  },

  // map action on mount
  mounted() {
    this.getLocalModels();

    this.getRunningServerMessage();
    this.getRunningSystemMessage();
  },
};
</script>
