<template>
  <div class="pb-5">
    <div class="mb-4 fw-bold">History</div>
    <div>
      <div
        v-for="chat in chatHistory"
        :key="chat.id"
        class="mb-3 cursor p-2 cursor-hover"
      >
        <div class="d-flex justify-content-between">
          <div @click="openChat(chat)" class="text-capitalize max-width-200">
            {{ chat.name }}
          </div>
          <div class="text-primary px-3" @click="deleteItem(chat.id)">
            <i class="fa-solid fa-trash"></i>
          </div>
        </div>

        <small class="italic">{{ chat.createdAt }}</small>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  name: "HistoryView",

  computed: {
    ...mapState("chat", ["chatHistory"]),
  },
  methods: {
    ...mapActions("chat", [
      "getChatHistory",
      "deleteChatHistory",
      "setChatFromHistory",
    ]),

    openChat(item) {
      if (item && item.chat && typeof item.chat === "string") {
        const chat = JSON.parse(item.chat);

        let title = "";
        if (item.name) {
          title = item.name;
        }

        this.setChatFromHistory({ chat, title });
      } else {
        this.setChatFromHistory(item.chat);
      }
    },

    deleteItem(id) {
      if (confirm("Are you sure you want to delete this chat history?")) {
        this.deleteChatHistory({ id });
      }
    },
  },

  mounted() {
    this.getChatHistory();
  },
};
</script>
