<template>
  <div class="p-0">
    <div class="navigation-sidebar">
      <div>
        <button
          @click="toggleSidebar"
          class="btn text-white"
          id="sidebarToggle"
        >
          <i class="fa-solid fa-bars"></i>
        </button>
        <div
          class="sidebar pt-0 bg-secondary bg-dark pb-5"
          :class="{ 'sidebar-open': isSidebarOpen }"
          @touchstart="handleTouchStart"
          @touchmove="handleTouchMove"
          @touchend="handleTouchEnd"
        >
          <button @click="toggleSidebar" class="btn" id="sidebarToggle">
            <i class="fa-solid fa-bars"></i>
          </button>
          <div class="container-fluid">
            <h4 class="navbar-brand mb-4 mt-5"></h4>
            <ul class="nav flex-column">
              <li class="nav-item">
                <HeaderView @toggle="toggleNav" />
                <HistoryView />
              </li>
            </ul>
          </div>
        </div>
        <div class="content-view" :class="{ 'content-active1': isSidebarOpen }">
          <ChatView @toggle="toggleNav" />
        </div>
      </div>
    </div>
    <MyModal />
  </div>
</template>

<script>
// components
import HeaderView from "./components/sidebar/header/HeaderView.vue";
import HistoryView from "./components/sidebar/history/HistoryView.vue";
import ChatView from "./components/chat/ChatView.vue";
import MyModal from "./components/shared/modal/MyModal.vue";

export default {
  name: "App",

  components: {
    HeaderView,
    HistoryView,
    ChatView,
    MyModal,
  },

  data() {
    return {
      asside: {
        cols: "col-12 col-md-3 mobile",
        value: true,
      },

      chat: {
        cols: "col-12 col-md-9",
        value: true,
      },

      isSidebarOpen: false,
      touchStartX: 0,
      touchEndX: 0,
    };
  },

  methods: {
    toggleNav() {
      this.asside.value = !this.asside.value;

      if (!this.asside.value) {
        this.asside.cols = "col-12 order-1";
        this.chat.cols = "col-12 order-0";
      } else {
        this.asside.cols = "col-12 col-md-3";
        this.chat.cols = "col-12 col-md-9";
      }
    },

    toggleSidebar() {
      this.isSidebarOpen = !this.isSidebarOpen;
    },
    handleTouchStart(event) {
      this.touchStartX = event.touches[0].clientX;
    },
    handleTouchMove(event) {
      this.touchEndX = event.touches[0].clientX;
    },
    handleTouchEnd() {
      if (this.touchStartX - this.touchEndX > 50) {
        // Swipe Left
        this.isSidebarOpen = false;
      } else if (this.touchEndX - this.touchStartX > 50) {
        // Swipe Right
        this.isSidebarOpen = true;
      }
    },
  },
};
</script>
