<template>
  <svg
    width="40"
    height="40"
    viewBox="0 0 40 40"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M17.3834 4.03325C19 3.09992 21 3.09992 22.6334 4.03325L32.5334 9.74991C34.15 10.6832 35.15 12.4166 35.15 14.3V25.6999C35.15 27.5666 34.15 29.3 32.5334 30.25L22.6334 35.9666C21.0167 36.9 19.0167 36.9 17.3834 35.9666L7.48337 30.25C5.8667 29.3167 4.8667 27.5833 4.8667 25.6999V14.3C4.8667 12.4333 5.8667 10.6999 7.48337 9.74991L10.65 7.91661"
      stroke="#71F508"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M20 18.3333C22.1447 18.3333 23.8834 16.5946 23.8834 14.4499C23.8834 12.3052 22.1447 10.5667 20 10.5667C17.8553 10.5667 16.1167 12.3052 16.1167 14.4499C16.1167 16.5946 17.8553 18.3333 20 18.3333Z"
      stroke="#71F508"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M26.6666 27.7665C26.6666 24.7665 23.6833 22.3333 19.9999 22.3333C16.3166 22.3333 13.3333 24.7665 13.3333 27.7665"
      stroke="#71F508"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
</template>

<script>
export default {};
</script>

<style></style>
