<template>
  <div class="dropdown">
    <span
      class="cursor px-3 fs-5"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <i class="fa-solid fa-ellipsis-vertical"></i>
    </span>
    <ul class="dropdown-menu dropdown-menu-dark text-light">
      <li>
        <span @click="deleteNote" class="dropdown-item text-light cursor"
          ><i class="fa-solid fa-trash"></i> Delete
        </span>
      </li>

      <li>
        <span @click="copyToClipboard" class="dropdown-item text-light cursor">
          <i class="fa-solid fa-copy"></i> Copy
        </span>
      </li>
      <li>
        <span @click="generateNote" class="dropdown-item text-light cursor">
          <i class="fa-regular fa-comment"></i> AI
        </span>
      </li>
      <li>
        <span @click="markdownHandler" class="dropdown-item text-light cursor">
          <i class="fa-brands fa-markdown"></i> Markdown
        </span>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    note: Object,
    required: true,
  },

  methods: {
    deleteNote() {
      this.$emit("deleteNote", this.note.id);
    },
    copyToClipboard() {
      this.$emit("copyToClipboard", this.note);
    },
    generateNote() {
      this.$emit("generateNote", this.note);
    },
    markdownHandler() {
      this.$emit("markdownHandler", this.note);
    },
  },
};
</script>

<style></style>
