<template>
  <div>
    <div
      class="ps-3"
      v-if="note.content && markdowns.includes(note.id)"
      @dblclick="onEditMarkdown"
      v-html="renderMarkdown(note.content)"
    ></div>
    <div
      v-if="completion && noteId === note.id"
      class="bg-dark text-light p-3 mx-2 mt-3"
    >
      <div class="d-flex justify-content-end">
        <span
          class="pe-3 cursor"
          @click="copyToClipboard({ content: completion })"
        >
          <i class="fa-solid fa-copy"></i>
        </span>
        <span class="ps-3 cursor" @click="clearCompletionChat">
          <i class="fa-solid fa-trash"></i>
        </span>
      </div>

      <div v-html="renderMarkdown(completion)"></div>
    </div>
  </div>
</template>

<script>
import { renderMarkdown } from "../../../../utils/helpers";
export default {
  props: {
    note: Object,
    markdowns: Array,
    noteId: [String, Number],
    completion: String,
  },

  emits: ["copyToClipboard", "clearCompletionChat", "onEditMarkdown"],

  methods: {
    copyToClipboard(note) {
      this.$emit("copyToClipboard", note);
    },
    clearCompletionChat() {
      this.$emit("clearCompletionChat");
    },

    onEditMarkdown() {
      this.$emit("onEditMarkdown");
    },

    renderMarkdown,
  },
};
</script>
