<template>
  <div>
    <h3 class="ps-2">
      Notes <span class="text-primary">{{ selectedModel }}</span>
    </h3>

    <ul class="list-group bg-secondary" v-if="notes && notes.length > 0">
      <li
        v-for="note in notes"
        :key="note.id"
        class="list-group-item p-0 border border-primary rounded-0 border-start-0 border-end-0 border-top-0 bg-secondary text-light d-flex justify-content-between"
      >
        <div class="w-100 my-3">
          <div
            v-if="isLoadingCompletion && noteId === note.id"
            class="d-flex justify-content-center"
          >
            <ChatLoader />
          </div>
          <textarea
            v-if="!markdowns.includes(note.id)"
            class="form-control bg-secondary text-light border-0"
            v-model="note.content"
            @blur="updateNote(note)"
            @input="autoResize"
            placeholder="Add Note Content"
          ></textarea>

          <NotesContent
            :note="note"
            :markdowns="markdowns"
            :noteId="noteId"
            :completion="completion"
            @copyToClipboard="copyToClipboard"
            @clearCompletionChat="clearCompletionChat"
            @onEditMarkdown="
              markdowns = markdowns.filter((id) => id !== note.id)
            "
          />
        </div>

        <NotesDropdown
          :note="note"
          @deleteNote="deleteNote"
          @copyToClipboard="copyToClipboard"
          @generateNote="generateNote"
          @markdownHandler="markdownHandler"
        />
      </li>
    </ul>

    <AlertPop :message="alertPopMessage" :isVisible="isVisible" />

    <div class="d-flex justify-content-start mt-4">
      <button class="btn btn-primary" @click="addNote">
        Add Note
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>
  </div>
</template>

<script>
// Store
import { mapState, mapActions } from "vuex";

// utils
import { renderMarkdown } from "../../../../utils/helpers";

// components
import AlertPop from "../../AlertPop.vue";
import ChatLoader from "../../ChatLoader.vue";
import NotesDropdown from "./NoteDropdown.vue";
import NotesContent from "./NotesContent.vue";

// mixins
import helpersMixin from "../../../../utils/helpersMixin";

export default {
  name: "Notes",

  components: {
    ChatLoader,
    NotesDropdown,
    AlertPop,
    NotesContent,
  },

  mixins: [helpersMixin],

  data() {
    return {
      noteId: undefined,
      markdowns: [],
    };
  },
  computed: {
    ...mapState("notes", ["notes", "note", "isLoading"]),
    ...mapState("chat", ["completion", "isLoadingCompletion", "selectedModel"]),
  },

  methods: {
    renderMarkdown,
    ...mapActions("notes", [
      "fetchNotes",
      "fetchNote",
      "createNote",
      "updateNote",
      "deleteNote",
    ]),

    // map actions chat
    ...mapActions("chat", ["getChatCompletion", "clearCompletion"]),

    addNote() {
      this.createNote({
        title: "",
        content: "",
      });
    },

    autoResize(event) {
      event.target.style.height = "auto";
      event.target.style.height = event.target.scrollHeight + 2 + "px";
      this.textAreaHeight = event.target.style.height;
    },

    // Ensuring all textareas are resized
    resizeTexareas() {
      this.$nextTick(() => {
        const textareas = document.querySelectorAll("textarea");
        textareas.forEach((textarea) => {
          textarea.style.height = "auto";
          textarea.style.height = textarea.scrollHeight + "px";
        });
      });
    },

    copyToClipboard(note) {
      this.alertPopMessageHandler("Copied to clipboard");

      this.note.content = note.completion;
      if (note) {
        navigator.clipboard.writeText(note.content);
      }
    },

    generateNote(note) {
      this.alertPopMessageHandler("Generating AI completion");

      this.clearCompletion();
      this.noteId = note.id;
      this.getChatCompletion({
        prompt: note.content,
        model: this.selectedModel,
      });
    },

    markdownHandler(note) {
      this.noteId = note.id;
      this.markdowns.push(note.id);
    },

    clearCompletionChat() {
      this.clearCompletion();
      this.noteId = undefined;
      // remove id from markdowns array
      this.markdowns = this.markdowns.filter((id) => id !== this.noteId);
    },
  },

  updated() {
    this.resizeTexareas();
  },

  mounted() {
    this.fetchNotes();
    this.resizeTexareas();

    this.$watch(
      () => this.notes,
      () => {
        if (this.notes.length > 0) {
          this.notes.forEach((note) => {
            if (note.content) {
              this.markdowns.push(note.id);
            }
          });
        }
      }
    );
  },
};
</script>
