<template>
  <div>
    <div
      class="d-flex justify-content-between align-items-center border-end-0 pb-5"
    >
      <div>
        <div class="dropdown">
          <button
            class="btn dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <GearIcon />
          </button>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li>
              <div>
                <button
                  :disabled="!selectedModel"
                  class="dropdown-item"
                  @click="$modal.show('Notes')"
                >
                  Open Notes
                </button>
              </div>
            </li>
            <li>
              <button class="dropdown-item" @click="$modal.show('ModelMgmt')">
                Model Management
              </button>
            </li>
          </ul>
        </div>
      </div>
      <div>
        <!-- <button class="btn btn-primary">Logout</button> -->
      </div>
    </div>
  </div>
</template>

<script>
// Components
import GearIcon from "../../icons/GearIcon.vue";

// Store
import { mapState } from "vuex";

export default {
  name: "SettingsView",
  components: {
    GearIcon,
  },

  computed: {
    ...mapState("chat", ["selectedModel"]),
  },
};
</script>
