<template>
  <div class="alert-message" :class="{ 'd-none': !isVisible }">
    {{ message }}
  </div>
</template>

<script>
export default {
  props: {
    message: {
      type: String,
      required: true,
    },

    isVisible: {
      type: Boolean,
      default: false,
    },
  },
};
</script>
