<template>
  <div class="p-4 pt-5">
    <div class="d-flex justify-content-between">
      <SelectModelDropdown />
      <div class="d-flex">
        <SaveToHistory :chat="chat" title="Save to history" />
        <button class="btn text-primary" @click="clearChat" title="New chat">
          <i class="fa-regular fa-pen-to-square"></i>
        </button>
      </div>
    </div>

    <!-- push this div element to the bottom -->
    <div class="mt-5">
      <div v-for="(chat, index) in chat" :key="index">
        <div class="d-flex justify-content-start">
          <span v-if="chat.role === 'user'" class="align-self-start pt-4">
            <UserIcon />
          </span>
          <span v-else class="align-self-start pt-4">
            <ChatIcon />
          </span>
          <div class="p-4 w-100 my-2" v-html="chat.content"></div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center" v-if="isLoading">
      <ChatLoader />
    </div>
    <Prompt
      :show="shouldContinue"
      @prompt="chatStreamHandler"
      @stop="clearShouldContinue"
    />
  </div>
</template>

<script>
import Prompt from "./Prompt.vue";
import UserIcon from "../icons/UserIcon.vue";
import ChatIcon from "../icons/ChatIcon.vue";
import SaveToHistory from "./SaveToHistory.vue";
import ChatLoader from "../shared/ChatLoader.vue";

import SelectModelDropdown from "../SelectModelDropdown.vue";
// Store
import { mapState, mapActions } from "vuex";

export default {
  name: "ChatView",
  components: {
    Prompt,
    UserIcon,
    ChatIcon,
    SaveToHistory,
    SelectModelDropdown,
    ChatLoader,
  },

  emits: ["toggle"],

  data() {
    return {
      show: true,
    };
  },

  computed: {
    ...mapState("info", ["modelInfo", "localModels"]),
    ...mapState("chat", [
      "shouldContinue",
      "chat",
      "messageArray",
      "result",
      "isLoading",
    ]),
  },

  watch: {
    modelInfo(newValue) {
      // clear messages array
      if (newValue) {
        this.clearChat();
        this.clearMessageArray();
        this.clearResult();
      }
    },
  },

  methods: {
    ...mapActions("chat", [
      "chatStream",
      "clearChat",
      "clearMessageArray",
      "clearResult",
      "clearShouldContinue",
    ]),

    chatStreamHandler(prompt) {
      this.chatStream({ prompt });
    },
  },
};
</script>

<style scoped>
.hljs {
  font-size: 12px;
}
</style>
