<template>
  <div class="d-flex justify-content-between align-items-start mb-4">
    <!-- <span v-if="!hideUpload" class="cursor"><UploadIcon /></span> -->

    <textarea
      v-model="prompt"
      class="mx-3 w-100 px-2 retro-textarea"
      :style="{ height: textAreaHeight }"
      @input="autoResize"
    ></textarea>
    <button
      v-if="!show"
      class="btn btn-primary rounded-circle"
      @click="promptHandler"
    >
      <i class="fa-solid fa-arrow-right"></i>
    </button>
    <button
      v-else
      class="btn btn-primary rounded-circle"
      @click="$emit('stop')"
    >
      <i class="fa-solid fa-stop"></i>
    </button>
  </div>
</template>

<script>
import UploadIcon from "../icons/UploadIcon.vue";
export default {
  name: "Prompt",
  components: {
    UploadIcon,
  },

  props: {
    show: {
      type: Boolean,
      required: true,
    },

    hideUpload: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      prompt: "",
      textAreaHeight: "auto", // Initialize the height
    };
  },

  methods: {
    promptHandler() {
      this.$emit("prompt", this.prompt);
      this.prompt = "";
      this.textAreaHeight = "auto";
    },

    autoResize(event) {
      // Reset the height to 'auto' to get the correct scrollHeight
      event.target.style.height = "auto";
      // Set the height to the scrollHeight plus a little extra space
      // The extra space (e.g., 2px) ensures that the scrollbar does not appear for a single line of overflow
      event.target.style.height = event.target.scrollHeight + 2 + "px";

      // Update the textAreaHeight data property to reflect the new height
      this.textAreaHeight = event.target.style.height;
    },
  },

  mounted() {
    this.prompt = "";
  },
};
</script>
