<template>
  <div class="ps-4 ms-3">
    <button class="btn text-primary fw-bold" @click="saveChatConversation">
      <i class="fa-solid fa-floppy-disk"></i>
    </button>
  </div>
</template>

<script>
// Summarize Request: Assistance Needed
// vuex
import { mapActions, mapState } from "vuex";
export default {
  name: "SaveToHistory",
  props: {
    chat: {
      type: Array,
      required: true,
    },
  },
  computed: {
    ...mapState("chat", ["title"]),
  },
  methods: {
    ...mapActions("chat", ["addChatHistory"]),

    saveChatConversation() {
      // for payload pass name and chat
      const t = prompt("Enter a title for this chat");

      if (t && t.trim()) {
        const payload = {
          name: t,
          chat: this.chat,
        };
        this.addChatHistory(payload);
      }
    },
  },
};
</script>
