<template>
  <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <SelectChatIcon />
      <span class="ps-2" v-if="initModel">{{ initModel }}</span>
    </button>
    <ul
      v-if="localModels"
      class="dropdown-menu table-dropdown text-white bg-dark py-0"
      aria-labelledby="dropdownMenuButton1"
    >
      <li>
        <div class="table-responsive">
          <table class="table table-dark w-100 mb-0">
            <thead>
              <tr>
                <th class="min-width-200">Model</th>
                <th class="min-width-160">Parameter Size</th>
                <th class="min-width-100">Size</th>
                <th class="min-width-200">Quantization</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(model, index) in models"
                :key="index"
                @click="getModelInfoHandler(model.name)"
                class="cursor"
              >
                <td>{{ model.name }}</td>
                <td>
                  <span class="badge border border-light rounded-0">{{
                    model.parameter_size
                  }}</span>
                </td>
                <td>
                  <span class="badge border border-light rounded-0">{{
                    model.size
                  }}</span>
                </td>
                <td>
                  <span class="badge border border-light rounded-0">{{
                    model.quantization_level
                  }}</span>
                </td>
                <td>
                  <button
                    class="btn text-danger btn-sm"
                    @click.stop="deleteModelHandler(model)"
                  >
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
// components
import SelectChatIcon from "../components/icons/SelectChatIcon.vue";

import { convertBytesToGB } from "../utils/helpers";

// vuex
import { mapState, mapActions } from "vuex";
export default {
  name: "SelectModelDropdown",
  components: {
    SelectChatIcon,
  },

  computed: {
    ...mapState("info", ["modelInfo", "localModels"]),
    ...mapState("chat", ["selectedModel"]),
    ...mapState("initialModel", ["initialModel"]),

    models() {
      if (this.localModels.models && this.localModels.models.length > 0) {
        return this.localModels.models.map((model) => {
          return {
            name: model.name.replace(":latest", ""),
            quantization_level: model.details.quantization_level,
            parameter_size: model.details.parameter_size,
            size: convertBytesToGB(model.size),
          };
        });
      }
    },

    initModel() {
      if (
        this.initialModel &&
        Array.isArray(this.initialModel) &&
        this.initialModel.length > 0
      ) {
        const model = this.initialModel[this.initialModel.length - 1].model;

        this.getModelInfo(model);
        this.setSelectedModel(model);
        return model;
      }
    },
  },

  methods: {
    ...mapActions("info", ["getModelInfo", "getLocalModels"]),
    ...mapActions("chat", ["setSelectedModel"]),
    ...mapActions("initialModel", ["getInitialModel", "addInitialModel"]),
    ...mapActions("modelMgmt", ["deleteModel"]),

    getModelInfoHandler(model) {
      this.setSelectedModel(model);
      this.getModelInfo(model);
      this.addInitialModel({ model });
    },

    deleteModelHandler(model) {
      if (!confirm(`Are you sure you want to delete ${model.name}?`)) return;
      this.deleteModel(model.name);
    },
  },

  mounted() {
    this.getModelInfo("");
    this.setSelectedModel("");
    this.getLocalModels();
    this.getInitialModel();
  },
};
</script>
