<template>
  <div>
    <div class="d-flex align-items-center">
      <div>
        <span class="badge bg-secondary p-2 fs-6">From : </span>
      </div>
      <div><SelectModelDropdown /></div>
      <div></div>
    </div>
    <input
      placeholder="Custom model name"
      v-model="modelName"
      class="retro-input mt-3"
    />
    <textarea
      class="retro-textarea mt-3"
      v-model="description"
      @input="autoResize"
      placeholder="Custom model description"
    ></textarea>

    <button
      :disabled="disableModelCreation"
      class="btn btn-primary mt-2"
      @click="createModelHandler"
    >
      Create Model
    </button>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

import SelectModelDropdown from "../../../SelectModelDropdown.vue";
export default {
  components: {
    SelectModelDropdown,
  },
  data() {
    return {
      modelName: "",
      description: "",
    };
  },

  computed: {
    ...mapState("chat", ["selectedModel"]),

    disableModelCreation() {
      return !this.modelName || !this.description;
    },
  },

  methods: {
    ...mapActions("modelMgmt", ["createModel"]),

    createModelHandler() {
      this.modelfile = {
        name: this.modelName,
        modelfile: `FROM ${this.selectedModel}\nSYSTEM ${this.description}`,
      };

      this.createModel(this.modelfile);
    },

    autoResize(e) {
      e.target.style.height = "auto";
      e.target.style.height = e.target.scrollHeight + "px";
    },
  },
};
</script>
