<template>
  <div>
    <h1>Models</h1>
    <CreateModel />
  </div>
</template>

<script>
import CreateModel from "./CreateModel.vue";

export default {
  components: {
    CreateModel,
  },
};
</script>

<style></style>
