.alert-message {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $secondary;
  color: $primary;
  font-weight: bold;
  padding: 5px 10px 4px 10px;
  border-radius: 5px;
  border: 3px solid $primary;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.alert-message.is-visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-out;
}

.alert-message button {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
}
