.custom-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  // align-items: center;
  z-index: 1050;
  height: 100vh;
  padding-top: 50px;

  .custom-modal-dialog {
    width: 80%;
    max-height: 75vh;
    overflow-y: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-out;

    // Scroll styles
    scrollbar-width: thin;
    scrollbar-color: $secondary $dark;

    .custom-modal-content {
      background: white;
      border-radius: 5px;
    }

    .custom-modal-header,
    .custom-modal-footer {
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .custom-modal-title {
      margin: 0;
    }

    .custom-modal-close {
      border: none;
      background: none;
      font-size: 1.5rem;
      cursor: pointer;
      color: #f8f9fa;
    }
  }

  @media (max-width: 767.98px) {
    textarea {
      font-size: 12px;
    }
    .custom-modal-dialog {
      width: 100%;
    }
  }

  &-enter-active,
  &-leave-active {
    opacity: 1;
    visibility: visible;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
  }

  &-enter-active .custom-modal-dialog,
  &-leave-active .custom-modal-dialog {
    transform: scale(1);
  }

  &-enter .custom-modal-dialog {
    transform: scale(0.7);
    transition: transform 0.5s ease-in-out;
  }
}
