/* Sidebar styles */
.navigation-sidebar {
  .sidebar {
    scrollbar-width: thin;
    scrollbar-color: $secondary $dark;
    height: 100vh;
    width: 0; /* Sidebar is hidden by default */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f8f9fa;
    overflow-x: hidden;
    transition: width 0.5s;
    padding-top: 20px;
  }

  /* Default hidden for the toggle button */
  #sidebarToggle {
    display: none;
  }

  /* Link styling */
  .sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    color: #333;
    display: block;
  }

  .sidebar a:hover {
    color: #007bff;
  }

  /* Mobile */
  @media (max-width: 767.98px) {
    .sidebar {
      width: 0; /* Ensure sidebar is hidden initially on small screens */
    }

    .sidebar-open {
      width: 310px; /* Sidebar width when opened */
    }

    .content-view {
      margin-left: 0; /* Default margin for content */
    }

    .content-active {
      margin-left: 310px; /* Push content when sidebar is open */
    }

    #sidebarToggle {
      display: block; /* Show the toggle button on small screens */
      position: fixed; /* Positioning the button to be accessible */
      top: 10px;
      left: 10px;
      z-index: 2; /* Ensure it's above other content */
    }
  }

  /* above medium */
  @media (min-width: 768px) {
    .sidebar {
      width: 310px; /* Sidebar always visible on medium and larger screens */
    }

    .content-view {
      margin-left: 310px; /* Always push content aside on medium and larger screens */
    }

    .content-active {
      margin-left: 310px; /* Always push content aside on medium and larger screens */
    }

    #sidebarToggle {
      display: none; /* Hide the toggle button on medium and larger screens */
    }
  }
}
