$widths: 20, 40, 60, 80, 100, 120, 140, 160, 180, 200, 220, 240, 260, 280, 300;

@each $width in $widths {
  .width-#{$width} {
    width: #{$width}px;
  }
  .min-width-#{$width} {
    min-width: #{$width}px;
  }
  .max-width-#{$width} {
    max-width: #{$width}px;
  }
}

@include media-breakpoint-down(md) {
  .table-dropdown {
    max-width: 300px;

    scrollbar-width: thin;
    scrollbar-color: $secondary $dark;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: $dark;
    }

    &::-webkit-scrollbar-thumb {
      background: $secondary;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: darken($secondary, 20%);
    }
  }
}

@include media-breakpoint-down(md) {
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
}

@include media-breakpoint-up(md) {
  .desktop-hide {
    visibility: hidden;
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}

.retro-textarea {
  background-color: $secondary;
  color: lighten($primary, 50);
  outline: $primary;
  border: 1px solid $primary;
  border-radius: 5px;
  font-size: 12px;
  line-height: 1.5;
  resize: vertical;
  width: 100%;
  overflow-y: hidden;
  padding: 10px;
}

.retro-input {
  background-color: $secondary;
  color: lighten($primary, 50);
  outline: $primary;
  border: 1px solid $primary;
  border-radius: 5px;
  font-size: 12px;
  line-height: 1.5;
  width: 100%;
  padding: 10px;
}

.cursor {
  cursor: pointer;
}

$primary-light: darken(
  $primary,
  50%
); // Lighten the primary color for the hover effect

.cursor-hover {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  transition: background-color 0.3s ease; // Smooth transition for the hover effect

  &:hover {
    background-color: $primary-light; // Change background color on hover
  }
}

.rotate-180 {
  transform: rotate(180deg);
}

input,
textarea {
  font-size: 12px; /* Prevent zoom on focus */
}

pre,
code {
  .hljs {
    font-size: 12px; /* Prevent zoom on focus */
  }
}

@media screen and (max-width: 600px) {
  input,
  textarea {
    font-size: 12px; /* Larger font size on smaller screens */
  }
}

// for bootstrap tables th and td text $light
.table {
  th,
  td {
    color: $light;
  }
}

// for bootstrap badges th and td text $light
.badge {
  color: $light;
}
