// boostrap variables
$primary: #32630c;
$secondary: #021301;
$dark: #000000;
$light: rgb(180, 180, 180);

// $primary: black;
// $secondary: white;
// $dark: #000000;

// scroll
$scroll-div-max-height: 100vh;
$btn-border-radius: 0;

// dropdown
$dropdown-dark-bg: $secondary;
