// colors
// secondary #021301

@import "variables";

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/bootstrap";

body {
  background-color: $secondary;
  color: white;
  // overflow: hidden;
  color: rgb(180, 180, 180);
  font-family: monospace;
  font-weight: 500;
  line-height: 1.8;
  font-size: 12px;
}

// @import "scroll";
@import "utils";
@import "highlight";
@import "sidebar";
@import "customModal";
@import "alertPop";
